CICD-Demo.module/Schemas/responseResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1631531772285" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1631531772285">
  <complexType name="responseElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="message" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="currentDateTime" type="string"/>
    </sequence>
  </complexType>
  <element name="responseElement" type="tns:responseElementType"/>
</schema>
